.content3 {
  width: 95%;
  height: 90%;
  margin: 2rem 0 2% 2%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 2px #ccc;
  padding: '15px';
  text-align: center;
}
.content2 {
  border-radius: 20px;
  width: 100%;
  height: 90%;
  background-color: #fff;
  box-shadow: 0px 0px 7px 2px #ccc;
  padding: '15px';
  text-align: center;
  margin-top: 1.5rem;
}
.content1 {
  width: 95%;
  height: 90%;
  margin: 0 0 5% 2%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 2px #ccc;
  padding: '15px';
  text-align: center;
}
.content4 {
  width: 95%;
  height: 90%;
  margin: 0 0 5% 2%;
  padding: '15px';
  text-align: center;
}
.content5 {
  width: 100%;
  height: 100%;
  margin: 0 0 5% 0%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 2px #ccc;
  text-align: center;
  overflow: hidden;
}
.title {
  font-size: 1rem;
  font-weight: 700;
  color: #056ace;
  margin-top: 15px;
}
.title2 {
  font-size: 0.9rem;
  font-weight: 700;
  margin: 10px 0;
}
.title3 {
  font-size: 0.5rem;
  font-weight: 700;
}
.number {
  font-size: 2.4rem;
  color: #2b00e6;
  font-weight: 700;
}
.context {
  font-size: 1rem;
  font-weight: 600;
}
.choosed {
  border: 2px solid #2a94ea;
  border-radius: 15px;
}
.map {
  width: 100%;
  min-height: 600px;
  border-radius: 20px 20px 0 0;
  background-color: #075aa5;
  overflow: hidden;
  transform: translateY(-55px);
}
.add {
  position: absolute;
  z-index: 999;
  width: 5%;
  right: 5%;
  margin-top: 4%;
}
.progress {
  transform: rotate(270deg) translateX(23px);
}
.detail {
  width: 40%;
  margin-top: 3%;
  /* padding-top: 9%; */
  position: absolute;
  background-color: #fff;
  min-height: 100px;
  z-index: 99;
  right: 5%;
  border-radius: 15px;
  padding-bottom: 1rem;
}
.detailTitle {
  color: #075aa5;
  float: left;
  margin-left: 4%;
  margin-top: 4%;
  font-size: 1.2rem;
  width: 100%;
  text-align: left;
  margin-bottom: 1rem;
}
